{% extends "layout.html" %}

{% block title %}
    Purchase History
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <caption>Your Transaction History</caption>
        <thead>
          <tr>
            <th scope="col" class="text-start">Type</th>
            <th scope="col" class="text-start">Symbol</th>
            <th scope="col" class="text-end">Shares</th>
            <th scope="col" class="text-end">Price of Transaction</th>
            <th scope="col" class="text-end">New Total Cash</th>
            <th scope="col" class="text-end">Time and Date</th>
          </tr>
        </thead>
        <tbody>
            {% for x in history %}
            <tr>
                {% if x["type"] == "SELL" %}
                    <th scope="row" class="text-start table-primary">{{ x["type"] }}</th>
                {% elif x["type"] == "BUY" %}
                    <th scope="row" class="text-start table-success">{{ x["type"] }}</th>
                {% endif %}
                <td class="text-start">{{ x["symbol"] }}</td>
                <td class="text-end">{{ x["shares"] }}</td>
                <td class="text-end">{{ x["price"] }}</td>
                <td class="text-end">{{ x["total"] }}</td>
                <td class="text-end">{{ x["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
