{% extends "layout.html"%}

{% block title%}
    Create Todos
{% endblock %}

{% block main%}
    <form id="todoForm"action="/todos" method="POST">
        <input  name="todoInput" placeholder="Your To-Do" id="todoInput"class="mx-auto w-auto center" type="text" autocomplete="off">
        <ul class="mx-auto w-auto center" id="todoList"></ul>
    </form>

    <form action="/todo" method="GET" class="mx-auto w-auto center">
        <small class="mx-auto w-auto center">Your new todos. You can return back by pressing the button below.</small>
        <button class="btn btn-secondary normal-button center" type="submit">Back</button>
    </form>
{% endblock%}