{% extends "layout.html" %}

{% block title %}
    To-do Lists
{% endblock %}

{% block main %}
    {% if notodo == "0" %}
        <form action="/todo" method="POST">
            <div class="center" id="removable">
            <p>Sorry, it appears you do not have any checklists yet</p>
            <p>Would like to create one?</p>
            <button id="firstCreate" class="btn btn-secondary center" type="submit">Create</button>
            </div>
        </form>
    {% else %}
    <form action="/todo" method="POST">
        <div class="center mx-auto w-auto" id="removable">
            <button id="firstCreate" class="btn btn-secondary center" type="submit">Create Todos</button>
        </div>
    </form>
    {% endif %}
    <div id="first"> 
        <div id="2removable">
            <ul id="todoList">
        {% for x in userTodos if x["id"] != "N/A" %}
                <form>
                    {% if x["iscomplete"] == 1 %}
                    <li data-id="{{ x["id"] }}" id="{{ x["id"] }}"class="todoElement completed"><s>{{ x["todo_text"] }}</s></li>
                    {% else %}
                    <li data-id="{{ x["id"] }}" id="{{ x["id"] }}" class="todoElement">{{ x["todo_text"] }}</li>
                    {% endif %}
                </form>
        {% endfor %}
            </ul>
            {% if notodo == "0" %}
            <small class="mx-auto w-auto center"></small>
            {% else %}
            <small class="mx-auto w-auto center">Left click to complete, right click to delete.</small>
            {% endif %}
        </div>
    </div>

    
{% endblock %}
