:root {
    /* https://coolors.co/95f9e3-69ebd0-49d49d-558564-564946 */
    --main-bg-colour: #564946;
    --main-btn-colour: #161312;
    --main-text-colour: #49D49D;
    --detail-colour: #d3fdec;
    --washed-colour: #76A786;
    --alert-colour: #917D78;
    --gradient-colour: #38f9d7;
}


html {
    display: flexbox;
    z-index: -1;
    position: relative;
    padding: 0vh 10vw 0vh 10vw;
    background-image: linear-gradient(to top, var(--main-text-colour) 0%, var(--gradient-colour) 100%);
}
head, header, body, footer, main, nav {
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
}

small {
    color: var(--detail-colour);
}

main, footer{
    padding: 1rem;
}

header {
    z-index: 1;
    padding: 0.5rem 0rem 0rem 0rem;
    font-size: large;
    width: 80vw;
}

@media screen and (max-width: 650px) {
    html {
        padding: 0;
     }
     header {
        width: 100vw;
     }
     p {
        font-size: 1rem;
     }
}

.container {
    display: inline-flex;
}

.dropdown {
    padding: 0.36rem;
    margin: 0.5rem;
    background-color: var(--main-bg-colour);
    color: var(--detail-colour);
    transition: .5s ease-in-out;
}
.dropdown:hover {
    color: var(--main-text-colour);
}
.dropdown.display-dropdown {
    color: var(--main-text-colour);
}

.dropdown-content {
    padding: 1rem;
}

.hidden {
    display: none;
}

.linkform {
    padding-left: 1rem;
    width: 25vw;
    inline-size: 30vw;
    position: relative;
    float:left;
}
.linkinput{
    padding: 1rem;
}
.linkbutton {
    left: auto;
}
.linkdesc {
    position: relative;
    text-align: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky +  .content{
    padding-top: calc(2rem + 12vh);
  }
nav a, nav button {
    padding: 0rem 0.5rem;
}

div.alert {
    border: var(--alert-colour);
    left: 15vw;
    width: 50vw;
    text-align: center;
}


mark {
    background-color: #8a726d;
    opacity: 75%;
    color: var(--detail-colour);
    border-radius: 0.45rem;
}

a {
    color: var(--detail-colour);
}
a:hover {
    color: var(--main-text-colour);
}
a:visited {
    color: var(--washed-colour);
}
a:visited:hover {
    color: var(--main-text-colour);
}

th {
    color: var(--detail-colour);
}
td {
    color: var(--main-text-colour);
}

.btn.btn-dark {
    border-color: var(--main-btn-colour);
    transition: 0.3s ease-in-out;
    background-color: var(--main-btn-colour );
    color: var(--main-text-colour);
}
.btn.btn-dark:hover {
    opacity: 75%;
}
.btn a {
    text-decoration: none;
}

#nav {
    padding: 0;
}
.table.navbar {
    border-bottom-width: 0;
    padding: 0;
}

th.navelement {
    border-bottom-width: 0;
    font-size: larger;
    padding: 0;
}

.link{
    text-decoration: none;
}

.center {
    display: inline-flex;
}

#logo {
    color: var(--main-text-colour);
    text-decoration: none;
    font-size: xx-large;
    padding: 0 1rem 0 1rem;
}
#logodetail {
    color: var(--detail-colour);
}

#link {
    border-radius: 0.36rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

